<p><%= link_to "New Trade", new_trade_path %></p>
<p><%= link_to "Devices", admin_devices_path %></p>
<p><%= link_to "Push Notification", new_message_path %></p>
<p><%= link_to "Messages", admin_messages_path %></p>
<p><%= link_to "Trades Dashboard", admin_trades_path %></p>

<br/>

<p><%= link_to "Home", root_path %></p>
