<div class="admin-container">
<table>
  <thead>
  <tr>
    <td>Message ID</td>
    <td>Body</td>
    <td>Created At</td>
    <td>Push to Twitter</td>
    <td>Push to ForexBot</td>
  </tr>
</thead>

  <% @messages.each do |message| %>
  <tr>
    <td><%= message.id %></td>
    <td><%= message.body %></td>
    <td><%= time_ago_in_words(message.created_at) %> ago</td>
    <td><%= link_to "Push", admin_push_path(push_target: "twitter", body: message.body), method: :post, remote: true %></td>
    <td><%= link_to "Push", admin_push_path(push_target: "app", body: message.body), method: :post, remote: true %></td>
  </tr>
  <% end %>

</table>
</div>
